    GLOBAL_SETTINGS
    LAB_MASTER_SEED relab4_student_master_seed
NETWORK WAN
     MASK 192.168.223.0/24
     GATEWAY 192.168.223.1
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINALS -1
     WAN 192.168.223.200
CONTAINER client
     USER ubuntu
     X11 YES
     TERMINALS 3
     TERMINAL_GROUP 1
     WAN 192.168.223.201
CONTAINER attack
     USER ubuntu
     X11 YES
     TERMINALS 3
     TERMINAL_GROUP 2
     WAN 192.168.223.202
     NO_GW YES
